.md-anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .md-anticon > * {
    line-height: 1;
  }
  .md-anticon svg {
    display: inline-block;
  }
  .md-anticon::before {
    display: none;
  }
  .md-anticon .anticon-icon {
    display: block;
  }
  .md-anticon[tabindex] {
    cursor: pointer;
  }
  .md-anticon-spin::before,
  .md-anticon-spin {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
  }
  @-webkit-keyframes loadingCircle {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loadingCircle {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }